@use "vars" as *;
@use "mixins" as *;

.deleted-tasks {
  .loading,
  .empty {
    @include flex-jc-ac();
    height: 300px;
  }

  .page-title {
    padding: 18px 20px;
    border: 1px solid $primary-border;

    .text {
      font-size: 19px;
      line-height: 21px;
    }
  }
}
