<section class="my-tasks">
  <app-search-filter (searchChange)="onSearchChange($event)" />

  <div class="page-title">
    <h1 class="text">My tasks</h1>
  </div>

  @if(isLoadingTasks()) {
  <div class="loading">loading...</div>
  } @else if(!visibleTasks().length) {
  <p class="empty">No tasks</p>
  } @else {
  <div class="tasks-list-container">
    <app-tasks-list [tasks]="visibleTasks()" />
  </div>

  <app-pagination
    [totalItems]="totalItems"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage()"
    (loadMore)="onLoadMore()"
  />
  }
</section>
