@if(form){
<form class="task-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="name">
    <app-input
      labelPosition="top"
      label="Task Name"
      placeholder="Enter task name"
      formControlName="name"
    />
  </div>

  <!-- 
    ТУТ БУДЕТ END TIME
  -->

  <div class="isImportant">
    <app-input
      labelPosition="right"
      variant="checkbox"
      label="Important task"
      formControlName="isImportant"
    />
  </div>

  <div class="date">
    <label class="date-label">Completion Date</label>
    <div class="date-picker-box">
      <dp-date-picker
        class="date-picker"
        formControlName="endDate"
        [config]="datePickerConfig"
      />

      <lucide-icon class="icon" name="calendar" />
    </div>
  </div>

  <div class="descr">
    <app-input
      labelPosition="top"
      label="Description"
      placeholder="Task description"
      formControlName="description"
    />
  </div>

  <div class="btns">
    <app-button
      buttonRole="submit"
      [disabled]="isLoadingSubmit()"
      (click)="onSubmit()"
    >
      {{ getButtonTextByAction }}
    </app-button>
  </div>
</form>
}
