@if(form){
<form class="task-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="name">
    <app-input
      labelPosition="top"
      label="Task Name"
      placeholder="Enter task name"
      formControlName="name"
    />
  </div>

  <!-- 
    ТУТ БУДЕТ END TIME
  -->

  <div class="isImportant">
    <app-checkbox
      labelPosition="right"
      label="Important task"
      formControlName="isImportant"
    />
  </div>

  <div class="date">
    <label class="date-label">Completion Date</label>
    <div class="date-picker-box">
      <dp-date-picker
        class="date-picker"
        formControlName="endDate"
        [config]="datePickerConfig"
      />

      <lucide-icon class="icon" name="calendar" />
    </div>
  </div>

  <div class="descr">
    <app-textarea
      label="Description"
      placeholder="Task description"
      formControlName="description"
    />
  </div>

  <div class="tags">
    <h5>Tags</h5>
    <div class="tags-inputs" formArrayName="tags">
      @for(tag of tags; track tag.value; let idx = $index) {
      <app-checkbox
        labelPosition="right"
        [label]="tag.value | titlecase"
        [formControlName]="idx"
      />
      }
    </div>
  </div>

  <div class="btns">
    <app-button buttonRole="submit" [disabled]="isLoadingSubmit()">
      {{ task()?._id ? "Save changes" : "Create task" }}
    </app-button>
  </div>
</form>
}
