<div class="task-form">
  <div class="name">
    <app-input
      [label]="'Task Name'"
      [placeholder]="'Enter task name'"
      [value]="taskName()"
      (valueChange)="taskName.set($event)"
    />
  </div>

  <div class="date">
    <label class="label">Completion Date</label>
    <dp-date-picker
      [(ngModel)]="taskDateModel"
      [config]="datePickerConfig"
      (ngModelChange)="onDateChange($event)"
    ></dp-date-picker>
  </div>

  <div class="descr">
    <app-input
      [label]="'Description'"
      [placeholder]="'Task description'"
      [value]="taskDescription()"
      (valueChange)="taskDescription.set($event)"
    />
  </div>

  <div class="btns">
    <app-button [disabled]="isLoadingSubmit()" (click)="onSubmit()">
      {{ isLoadingSubmit() ? "Saving..." : "Add" }}
    </app-button>
  </div>
</div>
