@use "vars" as *;
@use "mixins";

.finished-tasks {
  background-color: $dashboard-bg;

  .loading,
  .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
}
