@use "vars" as *;
@use "mixins" as *;

.button {
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  width: 100%;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &.primary {
    background: $purple;
    color: $white;
    border: 1px solid transparent;

    &:hover {
      background: $purple-hover;
    }
  }

  &.outline {
    background: transparent;
    color: $purple;
    border: 1px solid $purple;

    &:hover {
      border: 1px solid $purple-hover;
      color: $purple-hover;
    }
  }

  &.clear {
    background: none;
    color: $primary-color;
    border: none;

    &:hover {
      color: $white;
    }
  }

  &.none {
    padding: 0;
  }

  &.sm {
    font-size: 12px;
    padding: 0.25rem 1rem;
    width: max-content;
  }

  &.md {
    font-size: 14px;
    padding: 0.5rem 1.5rem;
    width: max-content;
  }

  &.lg {
    font-size: 16px;
    padding: 0.75rem 2rem;
    width: max-content;
  }

  &.loading {
    cursor: wait;
    opacity: 0.8;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
