@use "vars" as *;
@use "mixins" as *;

.checkbox-container {
  &.top {
    @include flex-column();
    gap: 4px;
  }

  &.bottom {
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
  }

  &.left {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 4px;
  }

  &.right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    gap: 4px;
  }
}

.checkbox {
  accent-color: $purple;
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
  border: 1px solid $primary-border;
  font-size: 14px;
  line-height: 20px;

  &:focus,
  &:hover {
    border: 1px solid $purple;
  }

  &:before {
    content: "";
    position: absolute;
    border-radius: 2px;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: $purple;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &:hover {
    background-color: $purple-opacity;
  }

  &:hover:before {
    opacity: 1;
  }

  &:checked {
    background-color: $purple-opacity;
  }

  &:checked:before {
    opacity: 1;
  }

  &:checked:after {
    content: "\2714";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 12px;
    color: $white;
  }
}

.checkbox:hover:before {
  animation: checkbox-hover 0.3s ease;
}

.checkbox:hover:before {
  animation: checkbox-hover 0.3s ease;
}

@keyframes checkbox-hover {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.label-container {
  display: flex;
  align-items: center;
  gap: 10px;

  &-inner {
    flex-grow: 1;
  }
}
