@use "vars" as *;
@use "mixins" as *;

.link {
  font-weight: 500;
  color: $primary-color;
  transition: color 0.2s ease;

  &:hover,
  &.active {
    color: $link-color;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -22px;
      top: 0;
      background-color: $purple;
      width: 3px;
      height: 100%;
      border-radius: 2px;
    }
  }

  .content {
    display: flex;
    align-items: center;
    gap: 10px;

    &.sm {
      font-size: 12px;
      padding: 6px;
    }

    &.md {
      font-size: 14px;
      padding: 9px;
    }

    &.lg {
      font-size: 16px;
      padding: 12px;
    }
  }
}
