@use "vars" as *;
@use "mixins" as *;

.search-filter {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  .btn {
    position: absolute;
    left: -5px;
  }

  .input {
    width: 100%;
  }

  .icon {
    width: 18px;
    height: 18px;
  }
}
