@use "vars" as *;
@use "mixins" as *;

.search-filter {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid $primary-border;
  padding: 20px 40px;

  .icon {
    width: 18px;
    height: 18px;
  }

  .input {
    font-size: 14px;
    line-height: 21px;
  }
}
