<div class="task-card" (click)="openDrawer()">
  <div (click)="$event.stopPropagation()" class="left">
    @if(task()?.status !== taskStatusEnum.DELETED) {
    <app-checkbox (click)="onCheckbox()" />
    }
    <p class="title">{{ task()?.name }}</p>
  </div>

  <div (click)="$event.stopPropagation()" class="right">
    <div class="badges">
      @for (tag of task()?.tags; track tag) {
      <app-badge [badgeValue]="tag" [id]="$index" />
      }
    </div>

    <div class="time">
      <p class="date">{{ task()?.endDate }}</p>
    </div>

    @if(task()?.status !== taskStatusEnum.DELETED) {
    <app-button (buttonClick)="openModal()" [size]="'none'" [variant]="'clear'">
      <lucide-icon class="icon" name="trash" />
    </app-button>

    <app-button [size]="'none'" [variant]="'clear'" dndHandle>
      <lucide-icon class="icon" name="grip-vertical" />
    </app-button>
    } @else {
    <app-button [size]="'none'" [variant]="'clear'">
      <lucide-icon class="icon" name="rotate-ccw" />
    </app-button>
    }
  </div>
</div>

<app-drawer [isOpen]="isOpenDrawer()" (closeDrawer)="closeDrawer()">
  <app-task-form [task]="task()" (formSubmitted)="closeDrawer()" />
</app-drawer>

<app-modal [isOpen]="isOpenModal()" (closeModal)="closeModal()">
  <div class="modal">
    <img class="modal-img" src="warning.svg" />

    <h3 class="modal-title">Are you sure?</h3>
    <p class="modal-descr">You won't to recover this task</p>
    <div class="modal-btns">
      <app-button (buttonClick)="onDeleteTask()">Yes, delete</app-button>
      <app-button (buttonClick)="closeModal()" [variant]="'outline'"
        >Cancel</app-button
      >
    </div>
  </div>
</app-modal>
