@use "vars" as *;
@use "mixins" as *;

.task-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  border: 1px solid $primary-border;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $bg;
  }

  .left,
  .right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .badges {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .right {
    .icon {
      width: 20px;
      height: 20px;
    }

    .badges {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.modal {
  @include flex-column();
  align-items: center;

  &-img {
    margin-bottom: 18px;
    width: 80px;
    height: 80px;
  }

  &-title {
    margin-bottom: 8px;
    font-size: 21px;
  }

  &-descr {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 26px;
  }

  &-btns {
    display: flex;
    gap: 12px;
  }
}
