@use "vars" as *;
@use "mixins";

.task-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid $primary-border;

  .left {
    .checkbox {
      accent-color: $primary-purple;
      width: 18px;
      height: 18px;
    }
  }

  .left,
  .right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .right {
    .icon {
      width: 20px;
      height: 20px;
    }

    .badges {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
