<div (click)="onOpenDrawer(true)" class="task-card">
  <div class="left">
    <input class="checkbox" type="checkbox" />

    <p class="title">{{ task()?.name }}</p>
  </div>

  <div class="right">
    @for (tag of task()?.tags; track $index) {
    <div class="badges">
      <app-badge [badgeValue]="tag" [id]="$index" />
    </div>
    }

    <div class="time">
      <p class="date">{{ task()?.endDate }}</p>
    </div>

    <app-button
      (buttonClick)="onDeleteTask(task()?._id)"
      [size]="'none'"
      [variant]="'clear'"
    >
      <lucide-icon class="icon" name="trash" />
    </app-button>

    <app-button [size]="'none'" [variant]="'clear'">
      <lucide-icon class="icon" name="grip-vertical" />
    </app-button>
  </div>
</div>

<app-task-drawer
  [isOpenDrawer]="isOpenDrawer()"
  (toggleDrawer)="onOpenDrawer($event)"
/>
