<div class="task-card">
  <div class="left">
    <app-input class="checkbox" variant="checkbox" />
    <p class="title">{{ task()?.name }}</p>
  </div>

  <div class="right">
    @for (tag of task()?.tags; track tag) {
    <div class="badges">
      <app-badge [badgeValue]="tag" [id]="$index" />
    </div>
    }

    <div class="time">
      <p class="date">{{ task()?.endDate }}</p>
    </div>

    <app-button
      (buttonClick)="onDeleteTask(task()?._id)"
      [size]="'none'"
      [variant]="'clear'"
    >
      <lucide-icon class="icon" name="trash" />
    </app-button>

    <app-button [size]="'none'" [variant]="'clear'" dndHandle>
      <lucide-icon class="icon" name="grip-vertical" />
    </app-button>
  </div>
</div>

<ng-template>
  <app-task-form />
</ng-template>

<!-- [isOpenDrawer]="isOpenDrawer()"
  (toggleDrawer)="onOpenDrawer($event)" -->
