@use "vars" as *;
@use "mixins" as *;

.task-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  border: 1px solid $primary-border;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $bg;
  }

  .left {
  }

  .left,
  .right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .right {
    .icon {
      width: 20px;
      height: 20px;
    }

    .badges {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
