@use "vars" as *;
@use "mixins" as *;

.load-more {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 18px 20px;
}
