@use "vars" as *;
@use "mixins" as *;

.input {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  &:focus,
  &:hover {
    border: 1px solid $purple;
  }
}

.text {
  padding: 6px 10px;
  border: 1px solid $primary-border;
  border-radius: 4px;
  width: 100%;
}

.input-container {
  &-inner {
    width: 100%;
  }

  &.top {
    @include flex-column();
    gap: 4px;
  }

  &.bottom {
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
  }

  &.left {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 4px;
  }

  &.right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    gap: 4px;
  }
}

.label-container {
  display: flex;
  align-items: center;
  gap: 10px;

  &-inner {
    flex-grow: 1;
  }
}
