@use "vars" as *;
@use "mixins" as *;

.input-box {
  @include flex-column();
  gap: 4px;
  font-size: 14px;
  line-height: 20px;

  .label {
  }

  .input {
    padding: 6px 10px;
    border: 1px solid $primary-border;
    border-radius: 6px;
  }
}
