@use "vars" as *;
@use "mixins" as *;

.input {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  &:focus,
  &:hover {
    border: 1px solid $purple;
  }

  &.none {
    padding: 0;
  }

  &.sm {
    font-size: 12px;
    padding: 0.25rem 1rem;
    padding: 8px 16px;
  }

  &.md {
    font-size: 14px;
    padding: 0.5rem 1.5rem;
    padding: 12px 24px;
  }

  &.lg {
    font-size: 16px;
    padding: 18px 40px;
  }
}

.text {
  padding: 6px 10px;
  border: 1px solid $primary-border;
  border-radius: 4px;
  width: 100%;
}

.input-container {
  &-inner {
    width: 100%;
  }

  &.top {
    @include flex-column();
  }

  &.bottom {
    display: flex;
    flex-direction: column-reverse;
  }

  &.left {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
  }

  &.right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
  }
}

.label-container {
  display: flex;
  align-items: center;
  gap: 10px;

  &-inner {
    flex-grow: 1;
  }
}
