@use "vars" as *;
@use "mixins" as *;

.tasks-list[dndDropzone] {
  @include flex-column();
  gap: 8px;
}

.task-wrapper {
  cursor: grab;
  transition: transform 0.2s ease;
}

.task-wrapper.dndDragging {
  opacity: 0.5;
}

.task-wrapper.dndDragover {
  outline: 2px dashed $purple;
}

.task-wrapper.dndDragging {
  opacity: 0.4;
}
