@use "vars" as *;

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: $primary-color;
}

::-webkit-scrollbar {
  width: 0;
}

.tasks-list-container {
  overflow-y: auto;
  max-height: 100%;

  scrollbar-width: thin;
  scrollbar-color: $bg $dashboard-bg;

  &::-webkit-scrollbar {
    width: 8px !important;
  }

  &::-webkit-scrollbar-track {
    background: $bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $bg;
    border-radius: 6px;
    &:hover {
      background-color: $bg;
    }
  }
}
