@use "vars" as *;

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: $primary-color;
}

.tasks-list-container {
  overflow-y: auto;
  max-height: 100%;

  scrollbar-width: thin;
  scrollbar-color: #161d31 #161d31;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #161d31;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #161d31;
    border-radius: 4px;
    &:hover {
      background-color: #161d31;
    }
  }
}
