$primary-color: rgba(180, 183, 189, 1);

$secondary-color: rgba(208, 210, 214, 1);

$purple: rgba(115, 103, 240, 1);
$negative: rgba(234, 84, 85, 1);
$success: rgba(40, 199, 111, 1);
$danger: rgba(255, 159, 67, 1);
$gray: rgba(130, 130, 130, 1);
$white: #fff;

$negative-opacity: rgba(234, 84, 85, 0.12);
$success-opacity: rgba(40, 199, 111, 0.12);
$purple-opacity: rgba(115, 103, 240, 0.12);
$danger-opacity: rgba(255, 159, 67, 0.12);

$bg: #161d31;
$dashboard-bg: #283046fc;

$purple-hover: rgba(132, 121, 245, 1);

$link-color: rgba(155, 81, 224, 1);

$primary-border: rgba(49, 57, 76, 1);

$placeholder-color: rgba(103, 109, 125, 1);
