@use "vars" as *;
@use "mixins" as *;

.drawer {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.open {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: auto;

    .drawer-content {
      transform: translateX(0);
    }
  }

  .drawer-content {
    background-color: $dashboard-bg;
    width: 360px;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    @include flex-column();

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
      background-color: $bg;
    }

    .top-right {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .bottom {
      padding: 20px;
    }

    .icon {
      width: 16px;
      height: 16px;
      cursor: pointer;
      display: block;
      transition: color 0.2s ease;
      &:hover {
        color: $white;
      }
    }
  }
}
