@use "vars" as *;
@use "mixins" as *;

.badge {
  padding: 1px 9px;
  border-radius: 16px;
  width: max-content;

  .text {
    font-size: 12px;
    font-weight: 600;
    line-height: 19px;
  }

  &.productivity {
    background-color: $purple-opacity;
    color: $purple;
  }

  &.education {
    background-color: $success-opacity;
    color: $success;
  }

  &.health {
    background-color: $danger-opacity;
    color: $danger;
  }

  &.urgently {
    background-color: $negative-opacity;
    color: $negative;
  }
}
