@use "vars" as *;
@use "mixins" as *;

.navbar {
  height: inherit;
  border-right: 1px solid $primary-border;
  padding: 20px 22px;
  @include flex-column();
  gap: 20px;

  .links {
    @include flex-column();
    gap: 2px;
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  .tags {
    &-title {
      color: $secondary-color;
      font-size: 12px;
      font-weight: 500;
      line-height: 23px;
      margin-bottom: 16px;
    }

    &-btns {
      @include flex-column();
      gap: 4px;
    }
  }
}
