<section class="navbar">
  <app-button (click)="openDrawer()">New task</app-button>

  <div class="links">
    @for(navbarLink of navbarLinks; track $index) {
    <app-link [routerLink]="navbarLink.routerLink">
      <lucide-icon class="icon" [name]="navbarLink.icon" />
      <p>{{ navbarLink.name }}</p>
    </app-link>
    }
  </div>

  <div class="tags">
    <h6 class="tags-title">Tags</h6>
    <div class="tags-btns">
      @for(tag of tags; track tag.value) {
      <app-tag [tag]="tag" (tagClick)="filterTasksByTag(tag)" />
      }
    </div>
  </div>
</section>

<app-drawer [isOpen]="isOpenDrawer()" (closeDrawer)="closeDrawer()">
  <app-task-form (formSubmitted)="closeDrawer()" />
</app-drawer>
