<section class="navbar">
  <app-button (click)="onOpenDrawer(true)">New task</app-button>

  <div class="btns">
    <app-link routerLink="/tasks/my-tasks">
      <lucide-icon class="icon" name="mail" />
      <p>My tasks</p>
    </app-link>

    <app-link routerLink="/tasks/important-tasks">
      <lucide-icon class="icon" name="star" />
      <p>Important tasks</p>
    </app-link>
    <app-link routerLink="/tasks/finished-tasks">
      <lucide-icon class="icon" name="check" />
      <p>Finished tasks</p>
    </app-link>
    <app-link routerLink="/tasks/deleted-tasks">
      <lucide-icon class="icon" name="trash" />
      <p>Deleted tasks</p>
    </app-link>
  </div>

  <div class="tags">
    <h6 class="tags-title">Tags</h6>
    <div class="tags-btns">
      @for(tag of tags; track tag.value) {
      <app-tag [tagColor]="tag.color" [tagValue]="tag.value" />
      }
    </div>
  </div>
</section>

<app-task-drawer
  [isOpenDrawer]="isOpenDrawer()"
  (onDrawerToggle)="onOpenDrawer($event)"
/>
