@use "vars" as *;
@use "mixins" as *;

.tag {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid transparent;

  &:hover {
    .text {
      color: $gray;
    }
  }

  &.active {
    border: 1px solid $purple;
    border-radius: 6px;
  }

  .circle {
    height: 10px;
    width: 10px;
    border-radius: 50px;

    &.productivity {
      background-color: $purple;
    }

    &.health {
      background-color: $negative;
    }

    &.education {
      background-color: $success;
    }

    &.urgently {
      background-color: $danger;
    }
  }

  .text {
    color: $white;
    font-weight: 500;
    transition: color 0.2s ease;
  }
}
