<div class="tag" (click)="onTagClick()">
  <div
    class="circle"
    [class.purple]="tagColor() === 'purple'"
    [class.red]="tagColor() === 'red'"
    [class.green]="tagColor() === 'green'"
    [class.orange]="tagColor() === 'orange'"
  ></div>

  @if(tagValue() === 'productivity') {
  <p class="text">Productivity</p>
  } @if(tagValue() === 'education') {
  <p class="text">Education</p>
  } @if(tagValue() === 'health') {
  <p class="text">Health</p>
  } @if(tagValue() === 'urgently') {
  <p class="text">Urgently</p>
  }
</div>
